.Cartlist {
  width: 380px;
  height: 100vh;
  background-color: $color-secondary;
  position: fixed;
  top: 70px;
  right: 0;
  padding: 10px;
  transition: right 1s ease-out;
  overflow-y: auto;
  z-index: 20;

  &_items {
    height: 80%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &_buttons {
    border-top: 1px solid $color-primary;
    height: 10%;
    @include flexCenter(10px);

    button {
      width: 50%;
      padding: 5px 0;
      margin: 0 auto;
      &::first-letter {
        text-transform: uppercase;
      }

      background-color: $color-secondary;
      border: 2px solid $color-dark;
      color: $color-dark;
      font-size: 14px;
      font-weight: 600;
      transition: all 0.35s ease;

      &:hover {
        border: 2px solid $color-primary;
        background-color: $color-dark;
        color: $color-primary;
      }
    }
  }

  .openClose {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.openCloseCart {
  right: -450px;
}

.Cartlist::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 426px) {
  .Cartlist {
    width: 100%;
    top: 50px;
  }
}
