.ProductPage {
  margin-top: 70px;
  width: 100%;
  max-width: 1920px;
  height: calc(100vh - 70px);
  padding: 100px;
  @include flexCenter(0);
  background-color: $color-white;

  &_wrapper {
    width: 100%;
    height: 50vh;
    @include flexCenter(50px);
  }

  &_image {
    width: 25%;
    height: 100%;
    padding: 10px;
    background-color: white;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &_text {
    height: 100%;
    width: 50%;
    @include flexJustifyCenter(15px);
    flex-direction: column;

    h2 {
      color: $color-dark;
    }

    &_price {
      color: $color-secondary;
      font-size: 18px;
      font-weight: 600;
    }

    &_description {
      width: 100%;
      height: 100%;
      color: $color-secondary;
    }

    button {
      width: 120px;
      height: 40px;
      border: 2px solid $color-secondary;
      background-color: $color-white;
      color: $color-secondary;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;

      &:hover {
        border: 2px solid $color-dark;

        color: $color-dark;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .ProductPage {
    padding: 60px;

    &_image {
      width: 30%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .ProductPage {
    padding: 60px;

    &_wrapper {
      height: 40vh;
    }
    &_image {
      width: 35%;
    }

    &_text {
      width: 65%;
    }
  }
}

@media screen and (max-width: 769px) {
  .ProductPage {
    padding: 15px 40px;

    &_wrapper {
      height: 100%;
      flex-direction: column;
      gap: 20px;
    }
    &_image {
      width: 35%;
      height: 40%;
    
    }

    &_text {
      width: 100%;
      height: 60%;
      gap: 10px;
      h2 {
        font-size: 20px;
      }

      &_price,
      &_description {
        font-size: 14px;
      }

      button {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .ProductPage {
    height: calc(100vh - 50px);
    margin-top: 50px;
    padding: 20px 30px;

    &_wrapper {
      height: 100%;
      flex-direction: column;
      gap: 20px;
    }
    &_image {
      width: 70%;
      height: 35%;
   
    }

    &_text {
      width: 100%;
      height: 65%;

      h2 {
        font-size: 18px;
      }

      &_price {
        font-size: 14px;
      }

      &_description {
        font-size: 14px;
      }

      button {
        margin: 0 auto;
      }
    }
  }
}
